@font-face {
  src: url('../fonts/Cormorant/Cormorant-Regular.ttf');
  font-family: 'Cormorant-Regular';
}

@font-face {
  src: url('../fonts/Cormorant/Cormorant-Bold.ttf');
  font-family: 'Cormorant-Bold';
}

@font-face {
  src: url('../fonts/Cormorant/Cormorant-Italic.ttf');
  font-family: 'Cormorant-Italic';
}

@font-face {
  src: url('../fonts/HEretica-Regular.ttf');
  font-family: 'HEretica-Regular';
}


*::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: touch;
}

*{
  cursor: none;
}


html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

  position: fixed ;
  overflow: hidden;
  height: 100%;
}

@media(min-width: 992px) {
  body {
    position: absolute;
    overflow: auto;
    height: auto
  }
}


.infinite-slider:focus {outline:0;}


.slider-image {
  height: 100%;
  display: block;
  margin-right: 30px !important;
  margin-left: 30px !important;
}


@media(min-width: 992px) {
  .slider-image {
    height: 100%;
  }
}

.infinite-slider {
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  padding: 15px 0;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-duration: 1s;
  z-index: 999;
  height: inherit;
  overflow: hidden;
}

.infinite-slider.scrolling-right {
  transform: matrix(1, 0, -0.02, 1, 0, 0);
  transition-duration: 1s;
}

.infinite-slider.scrolling-left {
  transform: matrix(1, 0, 0.02, 1, 0, 0);
  transition-duration: 1s;
}

.infinite-slider:hover {
  /* cursor: url('../images/Drag_Button_2.png'), auto; */
  /* cursor: pointer; */
}

.flickity-slider {
  height: inherit;
}

.flickity-viewport {
  height: inherit !important;
}

.open-holder {
  z-index: 999;
}

.closed-holder {
  z-index: 0;
  transition-delay: 0.5s;
}

.scroll {
  overflow-y: scroll !important
}

.can-click {
  overflow: hidden;
}

.can-click-parent {
  color: black;
  overflow: hidden;
}
.small {
  font-family: 'cormorant-regular'
}

.ml0.ml1.ml2 {
  font-size: 14px;
  display: inline;
  overflow: hidden;
}

.ml0.ml1.ml2, a {
  text-decoration: none;
  /* color: #ed6d2d */
  color: black;
}

.ml0.ml1.ml2, .letter {
  display: inline-block;
}

.blurred {
    /* filter: blur(3px); */
    transform: scale(1.05)
}

.image-to-blur {
  transition: transform 1s;
}

.socials-mobile {
  display: block;
}

@media(min-width:992px) {
  .socials-mobile {
    display: none;
  }
}

/* .scrollmagic-pin-spacer {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0 !important;
} */

.lottie-div {
  position: fixed;
}

.mouse-invisible {
  display: none;
}

.remove-blur {
  filter: blur(0) !important;
  transition-duration: 5s;
}
